html {
    height: : 100%;
}

body{
background-color: rgb(173, 219, 247);
width: 80%;
margin: 0 auto;
}
img{
    shape-outside: circle()
}
header{
background-color: rgb(272, 228, 121);
}

head {

}
nav {

}
article{
    

}
image { 
height: 100;
}
