html {
    height: : 100%;
}

body{
background-image: New folder (2)/14670615_937009956403358_7743268909331327491_n.jpg;
width: 80%;
margin: 0 auto;
}

header{

}

head {

}
nav {

}
article{

}
