html {
    height: : 100%;
}

body{
    background-color: coral;
width: 80%;
margin: 0 auto;
}
#jim{
    height: 20%;
    width: 100%;
    object-position: 50% 50%;
}
#cat{
    border-radius: 50pc;
    justify-content: flex-end;
    object-position: 50% 50%;
}
    h1{ 
        background-color: rgb(98, 162, 245);
    }
#navlist li{
    display: inline;
    list-style-type: none
}
head {
}
nav {
    align-content: center;
}
article{
}
image { 
height: 100;
}
